<form action="/landmarks/<%= @landmark.id %>/edit" method="POST">
  <label>Name:</label> <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>">
  <br><br>
  <label>Year Completed:</label> <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>">
  <br><br>
  <input type="submit" name="submit" value="Edit Landmark">
</form>
