<form action="" method="">
  <label>Name:</label> <input type="text" name="figure[name]">
  <label>Titles:</label>

  <labe>Landmarks:</label>
  <%@landmarks.each do |landmark|%>
    <input type="checkbox" name="landmark[name][]" value="<%=landmark.id%>" id="<%=landmark.id%>">
      <%=landmark.name%>
    </input>
  <%end%>
</form>
